<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Example Controller</title>

<link rel="stylesheet" href="" th:href="@{/CSS/mystyle.css}" />

</head>
<body>

	<h1>This is my own image</h1>
	
	<img src="" class="profile" th:src="@{/image/Images.png}" />
	
	
	<div class="container">
		<h1>Adding CSS, Javascript and image in Thymeleaf</h1>
		<p>
		
		Distill from Moret's unfinished sketches
		the melancholy of a seaside town in winter:
		Lay of her letters from exile a waterstair,
		closed souvenir shops, a broken shutter banging.
		Near dark now, in an unsigned corner,
		a woman struggles with a torn umbrella,
		surrenders with a wordless curse
		to the wind.
		
		</p>
	
	</div>
		
	<script src="" th:src="@{/JS/myjs.js}"></script>		
		
</body>
</html>