<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
	<title>This is home page</title>
</head>	
<body>
	
	<section>
		
		<div class="container">
			<div class="row">
			
				<div class="col-md-8 offset-md-2">
				
					<div class="my-card">
					
						 
					    <div th:if="${session.message}" th:classappend="${session.message.type}" class="alert" role="alert">
					 		<p class="text-center" th:text="${session.message.content}"></p>
					 		
					 		<th:block th:text="${#session.removeAttribute('message')}"></th:block>
						</div>
					
						<div class="container text-center">
							<img style="width:80px;" alt="" src="" th:src="@{/img/membership.png}" />							
						</div>
											
						<h1 class="text-center">Register Here !!</h1>
						
						<form novalidate action="" th:action="@{/do_register}" method="post" th:object="${user}">
						
						<!-- user name field -->
						  <div class="mb-3">
						    <label for="name_field" class="form-label">Your Name</label>
						    <input
						    name="name"
						    type="text"
						    class="form-control"
						    th:classappend="${#fields.hasErrors('name') ? 'is-invalid' : ''}"
						    id="name_field"
						    aria-describedby="emailHelp"
						    placeholder="Enter Here" 
						    required
						    th:value="${user.name}"
						    />
						    
						    <div class="invalid-feedback" th:each="e : ${#fields.errors('name')}" th:text="${e}">
						        Please provide a valid city.
						    </div>
						    
						  </div>
						  
						<!-- user email field -->   
						  <div class="mb-3">
						    <label for="email_field" class="form-label">Your Email</label>
						    <input
						    name="email"
						    type="email" class="form-control" id="email_field" aria-describedby="emailHelp" placeholder="Enter Here" 
						    required
						    th:value="${user.email}"
						    />
						   </div>
						   
						 <!-- user password field --> 
						  <div class="mb-3">
						    <label for="password_field" class="form-label">Password</label>
						    <input 
						    name="password"
						    type="password" class="form-control" id="password_field" placeholder="Enter Here" required>
						  </div>
						  
						  <!-- user about field -->
						  <div class="mb-3">
						    <textarea name="about" th:text="${user.about}" placeholder="Enter something about yourself" rows="10" class="form-control" id="about_field"></textarea>
						  </div>
						  
						  <!-- terms & condition agreement -->
						  
						  <div class="container">
							  <div class="form-group form-check">
							  	
							  		<input type="checkbox" name="agreement" class="form-check-input" id="agreement" />
							  		
							  		<label for="agreement">Accept terms and conditions</label>
							  		
						 	  </div>
						  </div>
						  						  
						  
						 <!-- user submit/reset buttons -->		
						 				  
						  <div class="container mt-3 text-center">
						  	<button type="submit" class="btn bg-primary text-white">Submit</button>
						  	<button type="reset" class="btn btn-warning">Reset</button>
						  </div>
						  
						</form>
											
					</div>
				
				</div>
			
			</div>
		</div>
		
	</section>
	
</body>

</html>